.search-weather{
    margin: 2.5%;
}
div .dets{
    color: #fff;
    background-color: black;
    font-weight: 900;
    font-size: 1rem;
    font-family:Arial, Helvetica, sans-serif
}


div .form-group{
    height: 100%;
}
div .img-responsive{
    display: flex;
    justify-content: center;
}
.weather-dets{
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    color: whitesmoke;
    font-weight: 900;
    
}
button{
    font-family: 'Ubuntu', sans-serif;
}