<div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="text-center my-4" style="color: #fff; font-family: 'Crete Round', serif;">Search City:</h3>
        <form
          [formGroup]="weatherSearchForm"
          (ngSubmit)="sendApiRequest(weatherSearchForm.value)"
        >
          <div class="form-group ">
            <input
              class="form-control"
              type="text"
              id="weatherLocation"
              aria-describedby="weatherLocation"
              placeholder="Please input a Location"
              formControlName="location"
            />
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-success btn-md search-weather">
              City
            </button>
          </div>
        </form>
      </div>
      <div class="col-md-6 dets d-none ">
        <h3 class="text-center my-4">Details:</h3>
        <div class="img-responsive">
        <img   src={{this.weatherData?.current.weather_icons[0]}} alt="">
      </div>
        <p class="text-center">
          Current weather conditions: <span  class="weather-dets"> &nbsp;{{ this.weatherData?.current.weather_descriptions[0]}}</span>.
        </p>
        <p class="text-center">
          Temperature : <span class="weather-dets">&nbsp;{{ this.weatherData?.current.temperature }} &#8451; </span>
        </p>
       
        <p class="text-center">
          Feels like : <span class="weather-dets">&nbsp;{{ this.weatherData?.current.feelslike}} &#8451;</span>
        </p>
        
        <p class="text-center">
          Wind Speed: <span class="weather-dets">&nbsp; {{ this.weatherData?.current.wind_speed }} </span>
        </p>
      
        <p class="text-center">
          Location Searched: &nbsp; {{ this.weatherData?.location.name }}, &nbsp;{{
          this.weatherData?.location.country }}.
        </p>
      </div>
    </div>
  </div>
  